


body{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* AQUÍ EMPIEZA EL MENU */


.menu{
    opacity: 75%;
    background-color: black;
    border-left: solid 3px goldenrod;
    border-bottom: solid 3px goldenrod;
    border-right: solid 3px goldenrod;
    border-radius: 20px;
    height: 100px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header{
    
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.imag{
    width: 40%;
    margin-left: 15px;
    margin-top: 8px;
}

.enlaces{
    display: flex;
    margin-right: 15px;
}

.enlace{
    display: flex;
    margin-right: 15px;

}

.enlace:hover{  
    border-bottom: 2px solid rgb(187, 137, 12);
    font-size: 17.5px;
    transition: 0.5s;   
}
/* AQUÍ TERMINA EL MENU */

/* AQUÍ EMPIEZA EL FONDO */
.cuerpo{ 
    background-size: cover;
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,1)
    ),url(./IMAGENES/foto\ editadapng.png);
    background-repeat: no-repeat;
}

/* AQUÍ TERMINA EL FONDO */

/* AQUÍ EMPIEZA EL MAIN */



.ofertas{
    height: 1400px;
    display: grid;
    grid-template-columns:repeat(21, 1fr);
    grid-template-rows:repeat(16, 1fr);
    grid-gap: 2px;   
}


.sesion{
    font-weight: bold;
  
    background-color: rgb(218, 152, 32);
    display: grid;
    grid-column: 10/13;
    grid-row: 2/3;
    justify-content: center;
    align-self: center;
    border-radius: 8px;
    margin-left: 35px;
    border: 2px solid black;
}

.primera{
    display: grid;
    border: 3px solid goldenrod;
    background-color: black;
    grid-column: 1/22;
    grid-row: 9/17;
    justify-content: center;
    align-content: center;
    opacity: 40%;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(22, 1fr);
}

.cartel1{
    
    background-color: aliceblue;
    grid-column: 3/8;
    grid-row: 2/21;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.cartel1 p{
    text-align: justify;
    margin: 30px;
    font-weight: bold;

}

.cartel2{
    
    background-color: aliceblue;
    grid-column: 9/14;
    grid-row: 2/21;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.cartel2 p{
    text-align: justify;
    margin: 30px;
    font-weight: bold;

}

.cartel3{
    
    background-color: aliceblue;
    grid-column: 15/20;
    grid-row: 2/21;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.cartel3 p{
    text-align: justify;
    margin: 30px;
    font-weight: bold;

}







/* AQUÍ TERMINA EL MAIN */

/* AQUÍ EMPIEZA EL FOOTER */

footer{
    background-color: rgb(17, 17, 17);
    height: auto;
    width: 100%; 
    
}

.grupo1{
    border-top: 1 solid white;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 45px 0px;
}

.figura{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgfooter{
    width: 250px;
}

.box h2{
    margin-bottom: 25px;
    color: white;
    font-size: 20px;
}
.box p{
    color: #efefef;
    margin-bottom: 10px;
}

.redsocial img{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 45px;
    margin-right: 10px;
}

.grupo2{
    background-color: rgb(15, 15, 15);
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.patrocinios{
    background-color: rgb(17, 17, 17);
    height: auto;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 45px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



@media screen and (max-width:800px) {
    .grupo1{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 35px 0px;
    }
    
}
/* AQUÍ TERMINA EL FOOTER */


/* AQUI EMPIEZA EL FORMULARIO */

.cajaform{
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    width: 400px;
    background-color:#111111;
    margin-top: 100px;
    border: 2px solid goldenrod;
    border-radius: 4px;
    color: goldenrod;
    margin-bottom: 40px;
}
.cajaform h2{
    font-size: 22px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.formcontrols{
    width: 93%;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1 solid gold;
    font-size: 18px;
}

.boton{
    width: 100%;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0px;
    font-size: 16px;
}


@media screen and (max-width:800px) {
    .cajaform{
        width: 80%;
    }
    
}

/* AQUI TERMINA EL FORMULARIO */


/* AQUI EMPIEZAN LOS PRODUCTOS */


.titulo {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}
.indiv{
    margin-top: 30px;
    opacity: 80%;
    background-color: #424242;
    margin-bottom: 20px;
}

.cajamain {
    max-width: 1500px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.producto h2 {
    margin-bottom: 0.5rem;
}

.producto p {
    color: #666;
}
/* AQUI TERMINAN LOS PRODUCTOS */



/* AQUI EMPIEZAN LAS CLASES */

.tabla {
    width: 80%;
    border-collapse: collapse;
    margin: 40px 40px;
    background-color: #fff;
   
}

.tabla thead {
    background-color: #1f2022;
    color: #fff;
}

.tabla th, .tabla td {
    border: 2px solid goldenrod;
    padding: 10px;
    text-align: center;
}



.descanso {
    background-color: #e9ecef;
    font-weight: bold;
    text-align: center;
}

.clasesmain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.sectionhorarios{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.dudashorario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.dudashorario p{
    margin: 0px;
}


.dudashorario .pinterna{
    margin-bottom:  15px;
}


@media screen and (max-width:800px) {
    .tabla th,td{
      font-size: 10px;
    }

    .sectionhorarios p{
        font-size: 10px;
        display: flex;
        margin-left: 5px;
        margin-right: 5px;
    }
    
}
/* AQUI TERMINAN LAS CLASES */

/* AQUI EMPIEZAN LAS TARIFAS */

.tarifas {
    
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.global {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}

.cajatarifa {
    background-color: rgb(22, 22, 22);
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.precios{
    font-weight: bold;
    background-color: rgb(218, 152, 32);
    justify-content: center;
    border: 2px solid black;
  padding: 0;
  border-radius: 10px;
}


.cajatarifa h2 {
    margin-top: 10px;
  
    color: #cfcece;
}

.cajatarifa p{
    color: #cfcece;
}


@media screen and (max-width:800px) {
    .global{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    }
    .cajatarifa{
        height: 180px;
    }

    .cajatarifa p{
        font-size: 14px;
    }

    .cajatarifa h2{
        font-size: 16px;
    }
}


/* AQUI TERMINAN LAS TARIFAS */

